:root {
  --word: #BBBBBE;
  --background: #F9F8FF;
  --card: #FFFFFF;
  --primary: #1e3e7a;
  --secundary: #006ab4;
  --border: #E6E4F0;
  --icons: #9896A3
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-family: sans-serif;
}

.grid_container {
  display: grid;
  grid-template-columns: 200px 1fr 300px;
  grid-template-rows: 100%;
  width: 100vw;
  height: 100vh;
}

.sidebar_left {
  background: var(--card);
  padding: 16px;
  border: 1px solid var(--border);
}

.middle {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background: var(--card);
  overflow: hidden;
}

.top {
  background: var(--card);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border);
}

.bottom {
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_right {
  background: var(--card);
  padding: 16px;
  border: 1px solid var(--border);
}